.l-header {
    background: @bg-white;
}

.l-header-contents {
    display: table;
    table-layout: fixed;
    width: 100%;
    .mixin-media-pc({
        width: @wrapper-width;
        margin: 0 auto;
        padding: 14px 0 8px;
    });
    .l-header-contents__item {
        display: table-cell;
        vertical-align: middle;
        &.is-logo {
            width: 40%;
        }
        .mixin-media-mb({
            &.is-mb-nav {
                width: 60%;
            }
        });
        .mixin-media-pc({
            &.is-pc-nav {
                width: 600px;
            }
        });
    }
}

.l-header-logo {
    .mixin-media-mb({
        width: 100%;
        padding: 0 4px;
    });
}

.l-header-nav {
    .l-header-nav__item {
        display: inline-block;
        padding: 0 10px;
        > .l-header-nav__item-link {
            font-size: @fs-m;
            .mixin-textlink-menu();
        }
    }
}

.l-header-doclist-badge {
    display: inline-block;
    background: @red;
    color: @white;
    font-size: @fs-m;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: @fs-m;
    text-align: center;
    &:hover {
        color: @white;
    }
}

.l-header-btns {
    .mixin-media-mb({
        display: table;
        table-layout: fixed;
        width: 100%;
    });
    > .l-header-btn {
        background: @red;
        color: @white;
        &:hover {
            color: @white;
        }
        &.is-menu-btn {
            background: @gray;
        }
        .mixin-media-mb({
            display: table-cell;
            border-top: 1px solid @white;
            border-left: 1px solid @white;
            border-bottom: 1px solid @white;
            &:last-child {
                border-right: 1px solid @white;
            }
            > .l-header-btn_inner {
                position: relative;
                width: 100%;
                padding-bottom: 100%;
                > .l-header-btn_inner-text {
                    position: absolute;
                    display: block;
                    width: 100%;
                    bottom: 0;
                    text-align: center;
                    font-size: @fs-m;
                }
            }
        });
        .mixin-media-pc({
            display: inline-block;
            padding: 6px 12px;
            border-radius: 6px;
        })
    }
}
.l-header-forget-password {
    font-size: @fs-s;
    .mixin-textlink-menu();
}